body {
    background-color: #EEEEEE;
}

pre {
    background-color: #222222;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}

.head-img {
    width: 200px;
    height: 200px;
}

iframe {
    width: 100%;
    height: 500px;
}

.small-img {
    width: 80px;
    height: 80px;
}

